@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ECECEC; /* Cinza claro */
    --primary-text: #333333; /* Cinza escuro */
    --contrast-gold: #B4A078; /* Ouro suave */
    --contrast-brown: #8C857A; /* Marrom acinzentado */
    --accent: #6C7883; /* Azul acinzentado */
}

.dark {
    --background: #1A1A1A; /* Cinza muito escuro */
    --primary-text: #FFFFFF; /* Branco */
    --contrast-gold: #A0895F; /* Ouro envelhecido */
    --contrast-brown: #6B6354; /* Marrom escuro */
    --accent: #5A6978; /* Azul acinzentado escuro */
}

body {
    background-color: var(--background);
}