:root {
    --background: #ECECEC;
    --primary-text: #333333;
    --contrast-gold: #B4A078;
    --contrast-brown: #8C857A;
    --accent: #6C7883;

    /* Tokens para Hero */
    --hero-text: #ffffff;
    --hero-overlay: rgba(0, 0, 0, 0.55);
}

.dark {
    --background: #1A1A1A;
    --primary-text: #FFFFFF;
    --contrast-gold: #A0895F;
    --contrast-brown: #6B6354;
    --accent: #5A6978;

    --hero-text: #ffffff;
    --hero-overlay: rgba(0, 0, 0, 0.65);
}